@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://img1.wsimg.com/isteam/ip/9bf023f3-22a4-4b6a-90f6-78db1912c350/1000042893.png/:/rs=w:767,m');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Add custom font styles if needed */
.font-display {
  font-family: 'Chewy', sans-serif; /* Make sure to import this font in your index.html */
}